@import url("https://fonts.googleapis.com/css?family=Anton|Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  body {
    background-color: #F09A9D; /* Red */
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  body {
    background-color: #F5CF8E; /* Yellow */
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  body {
    background-color: white; /* White */
  }
}

body {
  font-family: 'Roboto', sans-serif;
  
}

/* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale; */
/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.Nav {
  width: 100%;
}

.Nav-Header {
  max-width: 55rem;
  display: flex;
  align-items: center;
  margin: 10px auto;
}

.Nav-Left {
  width: 33.333%;
  text-align: left;
  margin: 0 10px;
}

.Nav-Center {
  width: 33.333%;
  text-align: center;
}

.Nav-Right {
  width: 87%;
  text-align: right;
}

.Nav a {
  text-decoration: none;
  color: black;
  padding-left: 5%;
}

.Nav a:hover {
  color: dodgerblue;
}

.logo{
  text-align: left;
  font-size: 90px ;
  font-weight: 800;
  padding-left: 5%;
}

h1{
  padding-left: 3%;
  padding-top: 5%;
  font-size: 50px;
  font-family: 'Anton', sans-serif;
  line-height: 5pc;
}

p{
  font-size: 20px;
}

h2{
  padding:10px;
  font-family: 'Anton', sans-serif;
  line-height: 3pc;
}

.home-container{
  display: flex;
  justify-content: center;
}

.home-taglines{
  font-family: 'Roboto', sans-serif;
  left: 23.5%;
  text-align: center;
  position: relative;
  top: 21.5%;
  width: 112px;
  padding: 5px;
  font-size: 21px;
  border: 2px solid black;
  text-decoration: none;
}
.home-taglines a {
  text-decoration: none;
  color: black;
  padding-left: 5%;
}

.home-taglines a:hover {
  color: red;
}


.home-clickNow-button{
  position: relative;
  top: -43%;
  left: 45%;
  width: 24%;
  text-align: center;
  border: 2px solid red;
  font-size: 31px;
  transform: rotate(-16deg);
}
.home-clickNow-button a {
  text-decoration: none;
  color:red;
  padding-left: 5%;
}

.home-clickNow-button a:hover {
  color: white;
}

button{
  background-color: #ddd;
  border: none;
  background-color: #5177994f;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  font-size: 25px;
  outline: none;
}

.speech-bubble{
  text-align: center;
  background-color: #5177994f;
  width: 35%;
  height: 41%;
  line-height: 34px;
  position: relative;
  top: 6%;
  left: 4%;
  padding: 10px;
  border-radius: 3.7em;
}

.speech-bubble:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 75%;
  width: 0;
  height: 0;
  border: 56px solid transparent;
  border-top-color: #5177994f;
  border-bottom: 0;
  border-right: 0;
  margin-left: -28px;
  margin-bottom: -56px;
  overflow: auto;
}

.getJoke-button{
  text-align: left;
  position: relative;
  top: 23%;
  left: 15%;
}
.save-button{
  text-align: left;
  position: relative;
  top: 26%;
  left: 15%;
}

.favHeader{
  text-align: right;
  line-height: 5pc;
  padding: 5%;

}
.favList{
  text-align: right;
  line-height: 4pc;
  height: 90vh;
  overflow: scroll;
  padding: 5%;
}
